 <ion-content [fullscreen]="true" class="content">
  <div class="divcard">
    <ion-card class="card">
      <!-- <img src="http://wallpapercave.com/wp/wp12146395.jpg" /> -->
      <img src="{{imagem}}" width="100%" height="auto" />
      <ion-card-header class="cardheader">cardheader IDADE:{{ Anos
        <ion-card-subtitle class="cardsubtitle">NOME: {{NOMECACHORRO</ion-card-subtitle>
      </ion-card-header> 
      <ion-row class="row">
        <ion-col></ion-col>
        <ion-col ></ion-col>
        <ion-col class="coltrash">
          <ion-button size="small" color="danger">
            <ion-icon name="trash-outline"></ion-icon>
            <ion-label style="margin-top: 0; margin-left: 6cqh"
              >EXCLUIR</ion-label
            >
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin: 2rem">
    <ion-fab-button  color="dark" (click)="novo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  











 </ion-content>
