.content{
    
    border-color: red;
    border-width: 3px;

}
.card{
    
    border-color: red;
    border-width: 3px;
    background-color: aqua;
    
}

.cardheader{
    
    border-color: red;
    border-width: 3px;
    
}

.cardsubtitle{
    
    border-color: red;
    border-width: 3px;
    
}